body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #252B48;
    color: white;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    padding: 1px;
    margin-bottom: 50px;

}

.image {
    margin-bottom: 50px;
}

.center-image {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 20%;
}

.center-gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

hr {
    margin-top: 80px;
    margin-bottom: 30px;
    border: 1px solid #252B48;
    margin-left: 40px;
    margin-right: 40px;
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
    color: #252B48;
    margin-left: 40px;
}

input {
    padding: 16px;
    border: 2px solid #445069;
    border-radius: 10px;
    margin-right: 40px;
    font-size: 17px;
    outline: none;
    margin-bottom: 20px;
    margin-left: 40px;
    border-style: solid;
    border-width: 3px;
}

input:focus {
    border-color:  #5B9A8B;
}

.button {
    margin-left: 40px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #82CD47;
    text-align: center;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-bottom: 150px;
}

button:hover {
    background-color: #54B435;
}

button:active {
    transform: translateY(1px);
    background-color: #379237;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #252B48;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  
a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.pemisah {
    margin-bottom: 400px;
}